bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg
.vscode
lastday-accounts.db

teeworlds_srv

cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake